.fixed-form {
    background: linear-gradient(0.5turn, hsl(214, 49%, 90%), hsl(0, 0%, 100%));
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 20px;
      height: calc(100vh - 40px); /* Adjust height to viewport, accounting for top and bottom padding */
      display: flex;
      align-items: center; /* Centers form vertically */
      justify-content: center; /* Centers form horizontally */
  }
  .form-container {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      /* Optional: Limit width of form for better aesthetics */
      width: 90%;
      background: linear-gradient(0.5turn, hsl(214, 49%, 90%), hsl(0, 0%, 100%));
      max-width: 400px;
  }

  .howitsworks {
  margin-top: 20px;
  }
  .btn-custom {
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      display: block; /* Ensure button width spans container */
      width: 100%;
  }
